.image {
    width: 100px;
    height: 180px;
    background-image: url(jettt.jpg);
    background-position: 70% 0%;
    background-size: 105%;
    border: 5.27811px solid #FFFFFF;
    filter: drop-shadow(0px 8.79684px 7.03748px rgba(0, 0, 0, 0.31));
    border-radius: 329.002px;
}
.container {
    width: 450px;
    height: 250px;
    background: #5746EA;
    border-radius: 33.428px;
    display: flex;
}

.image_container {
    width: 30%;
    height: 80%;
    margin: 35px 0 0 10px;
}
.details_container {
    width: 60%;
    margin: 5px 20px 10px 10px;
}

.name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin: 5px 0;
}

.email {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.username {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: #FFFFFF;
    margin: 10px 0;
}

.genere_container {
    display: flex;
    flex-wrap: wrap;
}

.genere_div {
    font-style: normal;
    font-weight: 400;
    width: 37px;
    text-align: center;
    background: #9F94FF;
    border-radius: 36.9467px;
    font-size: 10px;
    margin: 3px 10px 5px 0px;
    padding: 10px;
}