.container {
    width: 450px;
    height: 150px;
    background: #101744;
    border-radius: 30px;
}

.date_time {
    display: flex;
    width: 450px;
    background: #FF4ADE;
    height: 30%;
    border-radius: 30px 30px 0 0;
    align-items: center;
    font-size: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.date {
    width: 50%;
    text-align: center;
}

.time {
    width: 50%;
    text-align: center;
}

.weather_container {
    display: flex;
    height: 70%;
    width: 100%;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    justify-content: space-around;
}

.weather {
    font-size: 18px;
    margin-top: 10px;
}

.cloud {
    font-size: 70px;
    height: 40px;
    position: relative;
    bottom: 20px;
    text-align: center;
}

.degree {
    font-size: 30px;
}

.pressure {
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.pressure p {
    margin: 0;
}

.thermo {
    font-size: 30px;
    position: relative;
    height: 0px;
    right: 50px;
}

.wind_container {
    margin-left: 20px;
}

.wind {
    margin: 10px 0;
    width: 80px;
}

.humidity {
    margin: 10px 0;
    width: 50%;
}

.blow {
    font-size: 20px;
    position: relative;
    height: 0px;
    right: 35px;
}

.drop {
    font-size: 20px;
    position: relative;
    height: 0px;
    right: 30px;
}

.line {
    height: 0px;
    width: 1px;
    font-size: 60px;
    position: relative;
    right: 40px;
}

.line2 {
    height: 0px;
    width: 1px;
    font-size: 60px;
    position: relative;
    bottom: 75px;
    left: 100px;
}

.loading img {
    width: 100px;
    height: 100px;
    text-align: center;
}